h1 {
    text-align: center;
    
  }

.container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
}

.marker {
    height: 25px;
    width: 200px;
    margin: 10px auto;
}
}
.cap {
    width: 60px;
    height: 25px;
}

.sleeve {
    background-color: rgba(255, 255, 255, 0.5);
    width: 110px;
    height: 25px;
    border-left-width: 10px;
  }

.cap, .sleeve{
    display: inline-block;
}

.red {
    background: linear-gradient(rgb(122, 74, 14), rgb(162, 27, 27), rgb(0, 0, 255));
}

.green {
    background: linear-gradient(#55680D, #71F53E, #116C31);
}

.blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
}